.card {
    height: 15rem;
    max-height: 15rem;
    
    background: radial-gradient(circle, rgba(108, 117, 125, 1) 0%, rgba(61, 61, 60, 1) 100%);
    border: none;
    /* box-shadow: 0 0 5px #FFC108,
                0 0 25px #FFC108; */
}

.card i {
    font-size: 800%;
    /* color: white; */
    color: #FFC108;
}

.card-text {
    font-size: 300%;
    /* color: white; */
    color: #FFC108;
}